@model IEnumerable<Proyecto_PrograAvanzada.Models.Tecnico>

<h1>Técnicos</h1>

<p>
    <a asp-action="Create">Agregar Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.IdUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTecnico">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdTecnico">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTecnico">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
