@{
    ViewData["Title"] = "Técnico";
}

@model IEnumerable<Proyecto_PrograAvanzada.Models.Tecnico>

<div class="container mt-4">
    <h1 class="text-center">Técnicos</h1>

    <p class="text-end">
        <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Agregar Nuevo</a>
    </p>

    <table class="table table-striped table-bordered shadow-sm">
        <thead class="table-primary">
            <tr>
                <th>Especialidad</th>
                <th>Usuario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tecnico in Model)
            {
                <tr>
                    <td>@tecnico.Especialidad</td>
                    <td>@tecnico.IdUsuarioNavigation.Nombre</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@tecnico.IdTecnico" class="btn btn-warning btn-sm">
                            <i class="bi bi-pencil-square"></i> Editar
                        </a>
                        <a asp-action="Details" asp-route-id="@tecnico.IdTecnico" class="btn btn-info btn-sm">
                            <i class="bi bi-eye"></i> Detalles
                        </a>
                        <a asp-action="Delete" asp-route-id="@tecnico.IdTecnico" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i> Eliminar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
