@model Proyecto_PrograAvanzada.Models.HistorialEstado

<div class="container mt-4">
    <h1 class="details-title">Detalles del Historial de Estado</h1>
    <div class="details-container">
        <dl class="row details-details">
            <dt class="col-sm-3">Estado Anterior</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.EstadoAnterior)</dd>
            <dt class="col-sm-3">Estado Nuevo</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.EstadoNuevo)</dd>
            <dt class="col-sm-3">Fecha de Cambio</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.FechaCambio)</dd>
            <dt class="col-sm-3">Comentarios</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Comentarios)</dd>
        </dl>
    </div>
    <div class="details-actions">
        <a asp-action="Edit" asp-route-id="@Model.IdHistorial" class="btn btn-primary">Editar</a> |

