@model Proyecto_PrograAvanzada.Models.HistorialEstado

<h1>Detailles</h1>

<div>
    <h4>Historial de Estado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoAnterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoAnterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoNuevo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoNuevo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCambio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCambio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSolicitudNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSolicitudNavigation.IdSolicitud)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdHistorial">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
