@model IEnumerable<Proyecto_PrograAvanzada.Models.Asignacion>

<div class="container mt-4">
    <div class="text-center nav-grid-container">
        <div class="nav-grid">
            <a class="nav-link nav-item" asp-controller="Usuario" asp-action="Index">
                <img src="~/images/support1.jpg" alt="Soporte 1" class="rounded shadow nav-image" />
            </a>
            <a class="nav-link nav-item" asp-controller="Solicitud" asp-action="Index">
                <img src="~/images/support2.jpg" alt="Soporte 2" class="rounded shadow nav-image" />
            </a>
            <a class="nav-link nav-item" asp-controller="Notificacion" asp-action="Index">
                <img src="~/images/support3.jpg" alt="Soporte 3" class="rounded shadow nav-image" />
            </a>
            <a class="nav-link nav-item" asp-controller="Tecnico" asp-action="Index">
                <img src="~/images/support4.jpg" alt="Soporte 4" class="rounded shadow nav-image" />
            </a>
        </div>
    </div>
    <h1 class="animated-title">Asignaciones</h1>
    <p class="add-new-link">
        <a asp-action="Create" class="btn btn-primary">Agregar Nueva</a>
    </p>
    <table class="table table-hover assignment-table">
        <thead class="table-header">
            <tr>
                <th>@Html.DisplayNameFor(model => model.FechaAsignacion)</th>
                <th>@Html.DisplayNameFor(model => model.FechaInicio)</th>
                <th>@Html.DisplayNameFor(model => model.FechaCierre)</th>
                <th>@Html.DisplayNameFor(model => model.IdSolicitudNavigation)</th>
                <th>@Html.DisplayNameFor(model => model.IdTecnicoNavigation)</th>
                <th class="action-column"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.FechaAsignacion)</td>
                    <td>@Html.DisplayFor(modelItem => item.FechaInicio)</td>
                    <td>@Html.DisplayFor(modelItem => item.FechaCierre)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdSolicitudNavigation.IdSolicitud)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdTecnicoNavigation.IdTecnico)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdAsignacion" class="btn btn-warning btn-sm">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.IdAsignacion" class="btn btn-info btn-sm">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdAsignacion" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
