@model Proyecto_PrograAvanzada.Models.Notificacion

<div class="container mt-4">
    <div class="details-container">
        <h1 class="details-title">Detalles de la Notificación</h1>

        <dl class="row">
            <dt class="col-sm-3">Mensaje</dt>
            <dd class="col-sm-9">@Model.Mensaje</dd>

            <dt class="col-sm-3">Fecha de Notificación</dt>
            <dd class="col-sm-9">@Model.FechaNotificacion</dd>

            <dt class="col-sm-3">Visto</dt>
            <dd class="col-sm-9">@Model.Visto</dd>

            <dt class="col-sm-3">Solicitud</dt>
            <dd class="col-sm-9">@Model.IdSolicitudNavigation.IdSolicitud</dd>

            <dt class="col-sm-3">Usuario</dt>
            <dd class="col-sm-9">@Model.IdUsuarioNavigation.Nombre</dd>
        </dl>

        <div class="text-center">
            <a asp-action="Edit" asp-route-id="@Model.IdNotificacion" class="btn btn-primary"><i class="bi bi-pencil"></i> Editar</a>
            <a asp-action="Index" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Volver</a>
        </div>
    </div>
</div>
