@model IEnumerable<Proyecto_PrograAvanzada.Models.Notificacion>

<h1 class="animated-title">Notificaciones</h1>

<p>
    <a class="asp-action-Create" asp-action="Create">Crear Notificaion</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mensaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNotificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSolicitudNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mensaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNotificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSolicitudNavigation.IdSolicitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.IdUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdNotificacion">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdNotificacion">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdNotificacion">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
